@import "__defaults";
@import "jquery.modal.min.css";
* {
	padding: 0;
	margin: 0;
	outline: none;
}
body {
	font-family: @font;
	color: @black;
	font-size: 14px;
}
.clearfix {
	zoom: 1;
	display: block;
}
.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.wrap {
	width: 1170px;
	margin: 0 auto;
}