doctype html
html
	include bemto/bemto
	- set_bemto_settings({element: '-', modifier: '__', flat_elements: false})
	include includes/_head
	body
		include includes/_header
		.wrap.clearfix
			.site-aside
			.site-main
		include includes/_footer